body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f0f0f0;
}

h1 {
    margin-top: 30px;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    gap: 10px;
    width: fit-content;
    margin: 40px auto;
}

.cell {
    width: 120px;
    height: 120px;
    background: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 10px #ccc;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
.bl-0{
    border-left: 0;
}
.br-0{
    border-right: 0;
}
    
.cell:hover {
    background: #ddd;
}

#resetBtn {
    padding: 12px 25px;
    font-size: 18px;
    margin-top: 15px;
    cursor: pointer;
    border: none;
    background: #2196f3;
    color: white;
    border-radius: 8px;
}

#status {
    margin-top: 10px;
    font-size: 22px;
}
